.detail-page {
  padding: 24px;
}

.detail-title {
  color: #60a5fa;
  font-size: 1.875rem;
  font-weight: bold;
}

.detail-page h2 {
  color: #f8d1ff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.158);
}

.detail-poster {
  margin: 1rem 0;
  width: 100%;
}

.detail-castlist {
  margin-bottom: 0.5rem;
  list-style-type: none;
}

.detail-content {
  flex: 1;
  background: linear-gradient(to bottom right, #9095fb, #b489fc);
  color: #fff;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

.detail-content p {
  margin-bottom: 0.5rem;
  color: #f0e7ff;
}

.detail-content strong {
  font-weight: bold;
  color: #f8d1ff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.158);
}

.detail-buttons {
  display: flex;
  gap: 0.5rem;
}

.detail-buttons button {
  color: #fff2f2;
  font-size: 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
  border-radius: 8px;
}

.back-btn {
  background: linear-gradient(to right, #60a5fa, #9095fb);
}

.back-btn:hover {
  background: linear-gradient(to right, #9095fb, #a88dfc);
}

.detail-favorite-btn {
  background: linear-gradient(to right, #b489fc, #c084fc);
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}

.detail-favorite-btn:hover {
  background: linear-gradient(to right, #c084fc, #e8a9f8);
}

.detail-favorite-btn.active {
  background: linear-gradient(to right, #e8a9f8, #f5c6f8);
}
